* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Poppins', sans-serif;
}

.hero {
    color: #f2f2f2;
    height: 100vh;
    background-image: url(/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.linea {
    width: 30%;
    height: 1px;
    background-color: #a6a6a6;
}

.contenido {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}

.card {
    width: 500px;
    background-color: #fff;
    margin: 50px;
    padding: 30px;
    color: #a6a6a6;
}

.card > img {
    width: 100%;
}

.contenido-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-card {
    color: #000;
}

.parrafo-card{
    margin: 20px 0 20px 0;
}

.boton {
    background-color: transparent;
    padding: 10px;
    border: 2px solid #a6a6a6;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
}

.mensaje {
    background-image: url(images/bg.jpg);
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parrafo-mensaje {
    color: #a6a6a6;
}

.titulo-mensaje {
    color: #fff;
}

.galeria {
    background-color: #f2f2f2;
}

.contenido-galeria {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotos-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

footer{
    text-align: center;
    padding: 50px;
    color: #f2f2f2;
    background-color: #444;
}